.circle {
  width: 250px;
  height: 250px;
  line-height: 500px;
  border-radius: 50%;
  font-size: 2px;
  color: #fff;
  text-align: center;
  background: #000
}

#box{
 
  font: 1.2em "Fira Sans", sans-serif;
}
.item1{
  
    background-color:white;
  width:250px;
  height:450px;
  border:5px solid grey;
  padding:15px;
  margin:15px;
  font: 1.2em "Fira Sans", sans-serif;
  text-align:center;
  text-decoration: rgb(142, 50, 207);
  border-radius:35px;
}

.item2{
    background-color:white;
  width:250px;
  height:450px;
  border:5px solid grey;
  padding:15px;
  margin:15px;
  font: 1.2em "Fira Sans", sans-serif;
  text-align:center;
  text-decoration: rgb(105, 82, 121);
  border-radius:35px;
}
.item3{
    background-color:white;
  width:250px;
  height:450px;
  border:5px solid grey;
  padding:15px;
  margin:15px;
  font: 1.2em "Fira Sans", sans-serif;
  text-align:center;
  text-decoration: rgb(142, 50, 207);
  border-radius:35px;
}