body {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'poppins', sans-serif;
    min-width: 1200px;
  }

  .red-back {
    position: relative;
    height: 890px;
    background: #FF0000;
    border-radius: 50%/100px 100px 100px 100px;
  }

  #top-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* contact us button */
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    min-width: 150px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: 200;
    color: #FFFFFF;
    background: #FF0000;
    background: linear-gradient(90deg, #FF0000 0%, #FF0000 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(253, 31, 31, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
  }

  button::before {
    content: '';
    border-radius: 1000px;
    min-width: 0px;
    min-height: 0px;
    box-shadow: 0 0 60px rgb(253, 31, 31, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  .button:hover,
  .button:focus {
    color: #FFFFFF;
    transform: translateY(-6px);
  }

  button:hover::before,
  button:focus::before {
    opacity: 1;
  }

  button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid #FF0000;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  button:hover::after,
  button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
    }

    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

  @keyframes ring1 {
    0% {
      width: 0px;
      height: 0px;
      opacity: 1;
    }

    100% {
      width: 400px;
      opacity: 0.1;
    }
  }

  .circle-anim {
    position: absolute;
    animation: ring1 5s infinite;
  }

  .who-we-are {
    position: absolute;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .what-we-do {
    position: relative;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .anim-arr1 {
    padding-top: 10.5%;
    padding-left: 8%;
  }

  .anim-arr2 {
    padding-top: 30%;
    padding-left: 8%;
  }
  .news1{
    color:white; 
    text-align: center; 
    font-size: 22px; 
    width: 450px; 
    border: 3px solid white; 
    border-radius: 25px; 
    margin: 50px 40px 2px 270px;
  }

  .news2{
    color:white; 
    text-align: center; 
    font-size: 22px; 
    width: 450px; 
    border: 3px solid white; 
    border-radius: 25px; 
    margin: 50px 40px 2px 40px;
  }

  @media only screen and (max-width:1100px) {
    .news1{
        margin-left: 100px;
    }
    .wrap {
      padding-left: 50%;
      padding-right: 50%;
    }

    .what-we-do,
    .what-we-are {
      padding-top: 620px;
    }

    .text {
      font-size: 10px;
      letter-spacing: 1px;
    }

    .red-back {
      height: 1150px;
    }

    .anim-arr1 {
      padding-top: 55px;
    }

    .anim-arr2 {
      padding-top: 592px;
    }
  }

  /* Header */
  nav {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
  }

  nav .logo {
    font-size: 40px;
    color: red;
    font-weight: 800;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 8px;
    transition: all ease;
  }

  nav ul li a:hover,
  nav ul li a.active {
    border: 2px solid red;
    border-radius: 50px;
  }

  /* end header */

  /* Footer */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  /* body {
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 17px;
  } */

  header p {
    padding: 50px;
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
  }

  .footer {
    font-size: 19px;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: red;
    background-color: white;
  }

  .footer>* {
    flex: 1 100%;
  }

  .l-footer {
    margin-right: 5em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 19px;
  }

  h2 {
    font-weight: 400;
    font-size: 17px;
  }

  .footer ul {
    list-style: none;
    padding-left: 0;
  }

  .footer li {
    line-height: 2em;
  }

  .footer a {
    text-decoration: none;
  }

  .r-footer {
    display: flex;
    flex-flow: row wrap;
  }

  .r-footer>* {
    flex: 1 50%;
    margin-right: 2.25em;
  }

  .box a {
    color: #999;
    text-align: center;
  }

  .h-box {
    column-count: 1;
    column-gap: 1.28em;
  }

  .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
  }

  .l-footer p {
    padding-right: 20%;
    color: #999;
  }

  .features {
    padding-left: 12rem;

  }

  hr {
    border-top: 1px solid red;
  }


  @media screen and (min-width: 600px) {
    .r-footer>* {
      flex: 1;
    }

    .features {
      flex-grow: 2;
    }

    .l-footer {
      flex: 1 0px;
    }

    .r-footer {
      flex: 2 0px;
    }
  }

  .contact {
    padding-left: 7em;
  }

  /* End Footer */

  /* Content */
  .boxitem {
    flex-grow: 1;

    display: flex;
    flex-direction: row;

  }

  .item1 {

    background-color: white;
    width: 0px;
    height: 450px;
    border: 3px solid grey;
    padding: 25px;

    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    text-decoration: rgb(142, 50, 207);
    border-radius: 35px;
    flex-grow: 1;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 150px;
    border-color: red;
  }

  .item2 {

    background-color: white;
    width: 0px;
    height: 450px;
    border: 3px solid grey;
    padding: 30px;

    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    text-decoration: rgb(142, 50, 207);
    border-radius: 35px;
    flex-grow: 1;

    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-color: red;
  }

  .item3 {

    background-color: white;
    width: 0px;
    height: 450px;
    border: 3px solid grey;
    padding: 30px;

    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    text-decoration: rgb(142, 50, 207);
    border-radius: 35px;
    flex-grow: 1;

    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-color: red;
  }

  .box1 {
    background-color: white;

    border: 3px solid grey;
    padding: 30px;

    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    text-decoration: red;
    border-radius: 35px;
    border-color: red;
    flex-grow: 1;


    margin: 0 auto;
    width: 1225px;
    height: 525px;
  }

  .circle {
    width: 200px;
    height: 200px;
    margin: 2% auto;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;

  }

  .content {
    position: absolute;
    width: inherit;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-style: italic;
    font-family: Arial;
    color: red;
    text-transform: capitalize;
    font-weight: bold;

  }

  h1 {
    margin: 2%;
    text-align: center;
  }


  .circular-square {
    border-radius: 50%;
    flex-grow: 1;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
    border: 2px solid red;
    width: 300px;
    height: 300px;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;

  }

  .row::after {
    content: "";
    clear: both;
    display: table;

  }

  .row {
    display: flex;

  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

  @media screen and(max-width:500px) {
    .column {
      width: 100%;
    }
  }

  .final {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* padding-top: 20em; */
  }